<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
       <add name="TecentDA" connectionString="Data Source=.;Initial Catalog=TecentDataUinDA;User Id=sa;Password=password;Integrated Security=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="MainDbConnString" value="server=.;user id=admin;password=admin;data source=airorcl;"/>-->
   <!--不安装客户端形式，直接使用服务器信息集成到代码-->
    <!--<add key="MainDbConnString" value="server=.;user id=admin;password=admin;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = airorcl)));"/>-->
    <add key="SMPSDBConnection" value="User ID=huicrew;Password=huicrew;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.3)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = orcl)))"/>
    <add key="MainDbConnString" value="server=.;user id=admin;password=admin;Data Source=airorcl;"/>
    <add key="FsopTocken" value=""/>
    <add key="UinDataConnString" value="Data Source=.;Initial Catalog=TecentDataUinDA;User Id=sa;Password=password;Integrated Security=false;"/>
    <add key="CountUinData" value="Select count(uin) from TecentQQData"/>
    <add key="SyncGatherDateIntSql" value="update  [dbo].[TecentQQData] set datInt=CONVERT(int, convert(varchar(10),CreateTime,112))
where DayInt=0"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteDataService" maxReceivedMessageSize="52428800" />
                <binding name="AppDataAPISoap" />
                <binding name="FSOPServerSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:808/RemoteDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteDataService"
                contract="RemoteWcf.IRemoteDataService" name="BasicHttpBinding_IRemoteDataService" />
            <endpoint address="http://localhost:808/DPWebService/AppDataAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="AppDataAPISoap"
                contract="ExampleWebService.AppDataAPISoap" name="AppDataAPISoap" />
            <endpoint address="http://localhost:820/FSOP/FSOPServer.asmx"
                binding="basicHttpBinding" bindingConfiguration="FSOPServerSoap"
                contract="CallFSOP.FSOPServerSoap" name="FSOPServerSoap" />
        </client>
    </system.serviceModel>
</configuration>